.container {
  position: relative;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Hoefler Text", sans-serif;
  padding: 1rem 2.5rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.navbar_ul {
  display: flex;
  margin-top: 0.5rem;
}

.navbar_li {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 0.7rem;
}

.navbar_a {
  text-decoration: none;
  color: #666;
  font-size: 0.9rem;
  font-weight: 500;
}

.navbar_a:hover {
  font-weight: bolder;
}

.wsp_container {
  display: flex;
  align-items: center;
}

.wsp_container_p {
  margin-right: 0.5rem;
  font-family: "Open Sans";
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--secondary-text-color);
  letter-spacing: 1px;
}
