.container {
  position: relative;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Hoefler Text", sans-serif;

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.logo {
  padding: 1rem 2.5rem;
}

.navbar {
  height: 100%;
}

.navbar_ul {
  display: flex;
}

.navbar_li {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 0.7rem;
}

.active_li {
  border-bottom: 0.5rem solid var(--primary-color);
}

.navbar_a {
  text-decoration: none;
  color: #666;
  font-size: 0.9rem;
  font-weight: 500;
}

.navbar_a:hover {
  font-weight: bolder;
}

.navbar_burguer {
  display: none;
}

.wsp_container {
  display: flex;
  padding: 1rem 2.5rem;
  align-items: center;
}

.wsp_container_p {
  margin-right: 0.5rem;
  font-family: "Open Sans";
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--secondary-text-color);
  letter-spacing: 1px;
}

@media screen and (max-width: 767px) {
  .container {
    position: relative;
    padding: 1.8rem 2rem;
    box-shadow: none;
  }

  .logo {
    padding: 0;
  }

  .navbar {
    display: none;
  }

  .navbar_burguer {
    display: block;
  }

  .navbar_burguer_icon {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
  }

  .navbar_burger_ul_hidden {
    display: none;
  }

  .navbar_burger_ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 100%;
    top: 6rem;
    right: 0;
  }

  .navbar_burger_li {
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding: 1.5rem;
    border-top: 1px solid var(--secondary-text-color);
  }

  .navbar_burger_a {
    text-decoration: none;
    color: #666;
    font-size: 1.2rem;
    font-weight: 500;
  }

  .navbar_burger_a:hover {
    font-weight: bolder;
  }

  .wsp_container {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .container {
    padding: 1.8rem 4rem;
    box-shadow: none;
  }

  .logo {
    padding: 0;
  }

  .navbar {
    display: none;
  }

  .navbar_burguer {
    display: block;
  }

  .navbar_burguer_icon {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
  }

  .navbar_burger_ul_hidden {
    display: none;
  }

  .navbar_burger_ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 100%;
    top: 6rem;
    right: 0;
  }

  .navbar_burger_li {
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding: 1.5rem;
    border-top: 1px solid var(--secondary-text-color);
  }

  .navbar_burger_a {
    text-decoration: none;
    color: #666;
    font-size: 1.2rem;
    font-weight: 500;
  }

  .navbar_burger_a:hover {
    font-weight: bolder;
  }

  .wsp_container {
    display: none;
  }
}
